.faq-a{
    margin-top: 4%;
}
@font-face {
    font-family:font-p;
    src: url(../new-fonts/Nautilus.otf);
  }
 h1,h2{
    font-family: font-p;
 }
h2{
    text-align: left !important;
}
input:focus{
    outline: none;
    box-shadow:1px 2px 3px 10px #fc3e09;
}
