<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/boxicon.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/chat-box.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bg-img.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/responsive-2.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/chat-box.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    

    <title>Suja Consultancies | Forgot Password</title>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
       <!-- Google Fonts  -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
       <style>
           body, p, h3, h2, a, span, p, button, ::placeholder{
       /* font-family: "Josefin Sans", sans-serif !important; */
       font-family: "Comfortaa", sans-serif !important;
   }
   .btn-special{
     background:#1b61a6 !important;
     color: #fff !important;
   }
   .btn-special:hover{
       background:#3186db !important; 
   }
  .img-h2, .bg-h3{
    font-family: "Paytone One", sans-serif !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}
       </style>
    
</head>
<body class="bg-div">
    <div class="forget-pw-div">
    <div class="full-div reg-div">
        <div class="container">
            <div class="back-home" style="margin-top: 70px !important;"><a class="back-home-a" href="{% url 'ageis_app:index' %}"><i
                class="bi bi-house-up-fill back-home-icon text-dark"></i></a>
            </div>
            <div class="frm-login-1">
                <img class="frm-logo" src="{% static 'assets/images/suja.jpg' %}">
                <h2 class="reg-h2">Recover Your Account</h2>
                <form method='POST'>
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control form-control-1 w-50" id="formGroupExampleInput" placeholder="Enter your Email">
                    <input type="submit" class="btn btn-special form-control-btn w-25" value="Submit">
                </form>
            </div>
        </div>
        
    </div>
</div>
</body>
{% for message in messages %}
{% if message.tags == 'success' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
var m="{{message}}";
swal("{{message}}",'','success')
{% comment %} swal("Perfect!", m, "success") {% endcomment %}
</script>
{% else %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
var m="{{message}}";
swal("{{message}}",'','error')
{% comment %} swal("Perfect!", m, "success") {% endcomment %}
</script>
{% endif %}
{% endfor %}
</html>